div{
    background-color: black;
    text-align: center;
}
h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
p{
    color: white;
}

img{
    border:5px solid white;
    margin-top:4px;
}
